

.header {
  background-color: coral; 
  color: #ffffff;
}

.brand-logo {
  color: #ffffff; 
}

.navbar-toggler-icon {
  border-color: #ffffff; 
}

.nav-link,
.nav-link button {
  color: #ffffff; 
}

.nav-link button:hover,
.btn-info {
  background-color: #17a2b8; 
}

.form-control {
  background-color: #555d66; 
  color: #ffffff; 
}

.form-control:focus {
  background-color: #555d66; 
  color: #ffffff; 
  border-color: #17a2b8; 
}

@media (max-width: 767px) {
  .navbar-collapse {
    background-color: grey;
    display:flex;
    flex-direction: column;
    gap:0.2rem;
    
    padding:0.5rem; /* Customize the mobile menu background color */
  }
}

  